<h1>Loading...</h1>
<script type="text/x-template" class="addEntryTmpl">
  <form class="createEntry" action="">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Title">
    <label for="content">Content</label>
    <textarea type="text" name="Content" placeholder="Content">
    </textarea>
    <button type="submit">Create Blog</button>
  </form>
  </script>

<div class="container">This is the home page</div>

<div class="form"></div>
